<%= form_with(model: quote) do |form| %>
  <% if quote.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(quote.errors.count, "error") %> prohibited this quote from being saved:</h2>

      <ul>
        <% quote.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :quote_text, style: "display: block" %>
    <%= form.text_area :quote_text %>
  </div>

  <div>
    <%= form.label :quote_year, style: "display: block" %>
    <%= form.text_field :quote_year %>
  </div>

  <div>
    <%= form.label :quote_comment, style: "display: block" %>
    <%= form.text_area :quote_comment %>
  </div>

  <div>
    <%= form.label :ispublic, style: "display: block" %>
    <%= form.check_box :ispublic %>
  </div>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.text_field :user_id %>
  </div>

  <div>
    <%= form.label :categories %><br>
    <%= form.collection_check_boxes(:category_ids, Category.all, :id, :catname) %>
  </div>


  <fieldset>
    <legend>Philosopher Details</legend>
    
    <div>
    <%= label_tag :philosopher_fname, "First Name" %> 
    <%= text_field_tag :philosopher_fname %>
    </div>

    <div>
    <%= label_tag :philosopher_lname, "Last Name" %> 
    <%= text_field_tag :philosopher_lname %>
    </div>

    <div>
    <%= label_tag :philosopher_birth_year, "Date of Birth" %>
    <%= text_field_tag :philosopher_birth_year %>
    </div>

    <div>
    <%= label_tag :philosopher_death_year, "Death Year (optional)" %>
    <%= text_field_tag :philosopher_death_year %>
    </div>

    <div>
    <%= label_tag :philosopher_biography, "Biography (optional)" %>
    <%= text_field_tag :philosopher_biography %>
    </div>
  
  </fieldset>



  <div>
    <%= form.submit %>
  </div>
<% end %>
