<div id="<%= dom_id quote %>">
  <p>
    <strong>Quote text:</strong>
    <%= quote.quote_text %>
  </p>

  <p>
    <strong>Quote year:</strong>
    <%= quote.quote_year %>
  </p>

  <p>
    <strong>Quote comment:</strong>
    <%= quote.quote_comment %>
  </p>

  <p>
    <strong>Ispublic:</strong>
    <%= quote.ispublic %>
  </p>

  <p>
    <strong>User:</strong>
    <%= quote.user_id %>
  </p>

  <p>
    <strong>Categories:</strong>
    <% quote.categories.each do |category| %>
       <%= category.catname %><%= ', ' unless category == quote.categories.last %>
    <% end %>
  </p>

  <h3>Philosopher Details</h3>
  <p>
    <strong>First Name:</strong>
    <%= quote.philosopher.fname if quote.philosopher %>
  </p>

  <p>
    <strong>Last Name:</strong>
    <%= quote.philosopher.lname if quote.philosopher %>
  </p>

  <p>
    <strong>Birth Year:</strong>
    <%= quote.philosopher.birth_year if quote.philosopher %>
  </p>

  <p>
    <strong>Death Year:</strong>
    <%= quote.philosopher.death_year if quote.philosopher %>
  </p>

  <p>
    <strong>Biography:</strong>
    <%= quote.philosopher.biography if quote.philosopher %>
  </p>

</div>
