<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group" style="padding-bottom: 10px;">
    <!-- <%= form.label :fname, style: "display: block" %> -->
    <%= form.text_field :fname, placeholder: 'First Name', class: 'form-control' %>
  </div>

  <div>
  <!--
    <%= form.label :string, style: "display: block" %>
    <%= form.text_field :string %> -->
    <%= form.hidden_field :string, value: "some_value" %>
  </div>

  <div class="form-group" style="padding-bottom: 10px;">
    <!-- <%= form.label :lname, style: "display: block" %> -->
    <%= form.text_field :lname, placeholder: 'Last Name', class: 'form-control' %>
  </div>

  <div>
  <!--
    <%= form.label :string, style: "display: block" %>
    <%= form.text_field :string %> -->
    <%= form.hidden_field :string, value: "some_value" %>
  </div>

  <div class="form-group" style="padding-bottom: 10px;">
    <!-- <%= form.label :email, style: "display: block" %> -->
    <%= form.text_field :email, placeholder: 'Email Address', class: 'form-control' %>
  </div>

  <div>
  <!--
    <%= form.label :string, style: "display: block" %>
    <%= form.text_field :string %> -->
    <%= form.hidden_field :string, value: "some_value" %>
  </div>

  <div>
  <!--
    <%= form.label :uniq, style: "display: block" %>
    <%= form.text_field :uniq%> -->
    <%= form.hidden_field :uniq, value: "some_value" %>
  </div>

  <div class="form-group" style="padding-bottom: 10px;">
    <!-- <%= form.label :password_digest, style: "display: block" %> -->
    <%= form.password_field :password, placeholder: 'Choose a strong password', class:
'form-control' %>
</div>

  <div>
  <!--
    <%= form.label :string, style: "display: block" %>
    <%= form.text_field :string %> -->
    <%= form.hidden_field :string, value: "some_value" %>
  </div>

  <div>
  <!--
    <%= form.label :is_admin, style: "display: block" %>
    <%= form.text_field :is_admin %> -->
    <%= form.hidden_field :is_admin, value: "some_value" %>
  </div>

  <div>
  <!--
    <%= form.label :boolean, style: "display: block" %>
    <%= form.text_field :boolean %> -->
    <%= form.hidden_field :boolean, value: false %>
  </div>

  <div>
  <!--
    <%= form.label :status, style: "display: block" %>
    <%= form.text_field :status %> -->
    <%= form.hidden_field :status, value: "Active" %>
  </div>

  <div>
  <!--
    <%= form.label :string, style: "display: block" %>
    <%= form.text_field :string %> -->
    <%= form.hidden_field :string, value: "some_value" %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
